@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Poppins:wght@300;400;500;600&family=Yantramanav:wght@500&display=swap');
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,#d879af,#9b88da);
    overflow: hidden;
}
.container{
    background-color: #fff;
    width: 600px;
    height: 360px;
    padding: 70px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
    border-radius: 5px;
    font-family: "Yantramanav" , sans-serif;
}
.heading{
    color:#46406c;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
}
.row{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.col{
    width: 38%;
}
select{
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 8px 15px;
    font-weight: 700;
}
input{
    width: 86%;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 8px 15px;
    font-weight: 700;
}
button{
    width: 200px;
    display: block;
    padding: 10px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #9b88da;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 22px;
}